table{
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

#____simplepickercontainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

#____simplepicker{
    max-width: 55vw;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.simplepicker____footer{
    text-align: center;
}

.simplepicker____bg____unavailable{
    background-color: lightcyan;
}

#simplepicker____days td{
    height: 2em;
    width: 2em;
    position:relative;
}

#simplepicker____days td.simplepicker____bg____available:hover{
    cursor: pointer;
    background-color: skyblue;
}
.simplepicker____bg____today{
    background-color: deepskyblue;
}

#simplepicker____top_controls, #simplepicker____footer {
    display: flex;
    justify-content: center;
}
#simplepicker____top_controls select, #simplepicker____footer button{
    width: 20%;
    height: 2.5em;
    margin: 5px;
}
