table{
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

.simplepicker____footer{
    text-align: center;
}

.simplepicker____footer button{
    width: 5em;
}
.simplepicker____bg____unavailable{
    background-color: lightcyan;
}

#simplepicker____days td{
    height: 2em;
    width: 2em;
    position:relative;
}

#simplepicker____days td.simplepicker____bg____available:hover{
    cursor: pointer;
    background-color: skyblue;
}
.simplepicker____bg____today{
    background-color: deepskyblue;
}
